<div class="container text-center">
    <img id="owlBeImg" class="img-responsive img-center" src="/public/img/owlbethere.png" />
    
    <div class="well">
        <form ng-submit="sendLocation()">
            <div class="form-group">
                <br>
                <div class="input-group">
                    <input ng-model="newOption" name="pollOptions" id="pollOptions" type="text" class="form-control" placeholder="Twit twoo, where are you?">
                    <span class="input-group-btn">
                        <input type="submit" id="submitLocation" class="btn btn-block btn-success" value="Submit Location" />
                    </span>
                </div>
            </div>
        </form>
    </div>
    
    
    
</div>